{% extends 'base.html' %}

{% block content %}
    <form action="{% url 'cw21_url' %}" method="post">
        {% csrf_token %}
        {% for field in form %}

            <div class="form-group">

                <div class="alert-danger">
                    {% if field.errors %}
                        {{ field.errors }}
                    {% endif %}
                </div>

                {{ field.label }}
                {{ field }}
            </div>

        {% endfor %}
        <button class="btn btn-success mt-3">Create</button>
    </form>
{% endblock %}